<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%t] %c{1} [%L] - %m%n"/>
        </Console>
        <File name="File" fileName="logs/test-execution.log">
            <PatternLayout pattern="%d %p [%t] %c{1} [%L] - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="io.netty" level="WARN"/>
    </Loggers>
</Configuration>
